* {
  box-sizing: border-box;
}
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

h1 {
  margin: 0;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.comments-list {
  max-width: 500px;
  width: 100%;
  margin: auto;
}

ol {
  padding: 0;
}

.articles-list__item {
  position: relative;
  display: block;
  margin-top: 0;
  margin-bottom: 20px;
  padding: 0.5rem 1.5rem;
  list-style: none;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 8px;
}

button {
  padding: 0;
  margin: 0;
  background: #fff;
  border: none;
  cursor: pointer;
}

.form-button {
  width: 50%;
  margin: auto;
  padding: 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
  color: rgb(30, 74, 125);
  border: none;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(202, 209, 220);
  border-radius: 5px;
  background-color: rgb(249, 249, 249);
}

.js-delete-comment {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 40px;
  height: 40px;
}

label, button {
  display: block;
  margin: auto;
}

label {
  text-align: left;
}


input,textarea {
  width: 100%;
  margin: 0 0 15px;
  padding: 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
  color: rgb(30, 74, 125);
  border: none;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(202, 209, 220);
  border-radius: 5px;
  background-color: rgb(249, 249, 249);
}

.form-box {
  max-width: 400px;
  margin: auto;
}

textarea {
  height: 100px;
  resize: none;
}

.articles-list__item {
  text-align: left;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}